
@import "~styles/variables.scss";

.playground {
  margin-top: 40px;
}

.section-playground {
  padding-top: 30px;
}

section[grid="masonry"] {
  height: 280px;
}

.demo-box {
  margin: 1px;
  height: 100px;
  width:  100px;
  box-sizing: border-box;
  background-color: $gray-70;
}

section > .demo-box:nth-child(odd) {
  height: 60px;
  background-color: $gray-80;
}
