
.iconic {
  &::before {
    content:      '';
    display:      inline-block;

    width:        24px;
    height:       24px;
    margin-right: 20px;

    background-position: center;
  }
}

// .ic-add:before {
//   background-image: url('~images/ic-some-icon.svg');
// }
