{
  "plugins": [
    "transform-export-extensions",
    "transform-strict-mode",
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-react-jsx", {
      "useBuiltIns": true
    }]
  ],
  "presets": [[
    "env", {
      "modules": false,
      "targets": {
        "browsers": ["last 4 versions", "safari >= 8", "ie >= 10"]
      }
    }],
    "react"
  ],
  "env": {
    "development": {
      "only": ["app"],
      "plugins": [
        "react-test-id",
        "transform-react-display-name",
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "transform-react-pure-to-component",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "react-test-id",
        "dev-expression",
        "transform-inline-consecutive-adds",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-pure-class-to-function"
      ]
    },
    "test": {
      "presets": [[
        "env", {
          "targets": {
            "node": "current"
          }
        }],
        "react",
        "stage-3"
      ],
      "plugins": [
        "transform-react-display-name",
        "transform-react-jsx-source",
        "transform-react-jsx-self",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
