{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "presets": [[
    "env", {
      "modules": false,
      "targets": {
        "browsers": ["last 4 versions", "safari >= 8", "ie >= 10"]
      }
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-display-name"
      ]
    },
    "production": {
      "only": ["app"],
      "plugins": [
        "transform-strict-mode",
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-pure-class-to-function"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
