*~

/build
/coverage
/tmp
/playground

node_modules

.idea
.vagrant
.cache
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.pyc

.DS_Store
Thumbs.db
.module-cache
.python-version
.lock-wscript
*.log*
_nogit
.editorconfig
.npm
