// Based on ragrid.css
// See https://argyleink.github.io/ragrid how use this
// This version has some changes in order attribute. Use "reverse" instead order="reverse"
// Attribute names more shorter

[visibility~="false"],
[visibility~="none"] {
  display: none;
}

[visibility~="hidden"] {
  visibility: hidden;
}

[visibility~="collapse"] {
  visibility: collapse;
}

[visibility~="true"],
[visibility~="visible"] {
  visibility: visible;
}

[layout] {
  display: flex;
  flex-flow: row wrap;

  // https://developer.mozilla.org/en-US/docs/Web/CSS/contain
  // Isolation for better performance
  contain: layout;

  &[reverse] {
    flex-direction: row-reverse;
  }
  &[reverse~="false"] {
    flex-direction: row;
  }
  &[center] {
    align-items: center;
    justify-content: center;
  }
  &[nowrap] {
    flex-wrap: nowrap;
  }
  &[nowrap~="false"] {
    flex-wrap: wrap;
  }

  /*
  ALIGN
    - Horizontal: Left, Center, Right
    - Vertical: Top, Center, Bottom
  */
  &[horizontal-align~="left"] {
    justify-content: flex-start;
  }
  &[horizontal-align~="center"] {
    justify-content: center;
  }
  &[horizontal-align~="right"] {
    justify-content: flex-end;
  }
  &[vertical-align~="top"] {
    align-items: flex-start;
  }
  &[vertical-align~="center"] {
    align-items: center;
  }
  &[vertical-align~="bottom"] {
    align-items: flex-end;
  }
  &[vertical-align~="baseline"] {
    align-items: baseline;
  }

  /*
  DISTRIBUTE
    - Horizontal: Left, Center, Right
    - Vertical: Top, Center, Bottom
  */
  &[horizontal-distribute~="around"] {
    justify-content: space-around;
  }
  &[horizontal-distribute~="between"] {
    justify-content: space-between;
  }
  &[horizontal-distribute~="equal"] {
    > * {
      flex-grow: 1;
    }
  }
  &[vertical-distribute~="around"] {
    align-content: space-around;
  }
  &[vertical-distribute~="between"] {
    align-content: space-between;
  }
  &[vertical-distribute~="equal"] {
    align-items: stretch;
  }

  /*
  SIZE
    - Instead of col-xs-12 or whatever
    - Specify size on the parent
  */
  &[columns~="1"] > * {
    flex-basis: 100%;
  }
  &[columns~="2"] > * {
    flex-basis: (100% / 2);
  }
  &[columns~="3"] > * {
    flex-basis: (100% / 3);
  }
  &[columns~="4"] > * {
    flex-basis: (100% / 4);
  }
  &[columns~="5"] > * {
    flex-basis: (100% / 5);
  }
  &[columns~="6"] > * {
    flex-basis: (100% / 6);
  }
  &[columns~="7"] > * {
    flex-basis: (100% / 7);
  }
  &[columns~="8"] > * {
    flex-basis: (100% / 8);
  }
  &[columns~="9"] > * {
    flex-basis: (100% / 9);
  }
  &[columns~="10"] > * {
    flex-basis: (100% / 10);
  }
  &[columns~="11"] > * {
    flex-basis: (100% / 11);
  }
  &[columns~="12"] > * {
    flex-basis: (100% / 12);
  }
}

// column specific
[layout~="columns"] {
  &[vertical-distribute~="equal"] {
    align-items: stretch;
    > * {
      height: auto;
    }
  }
}

// row specific
[layout~="rows"] {
  flex-direction: column;
  align-items: flex-start;

  &[reverse] {
    flex-direction: column-reverse;
  }
  &[reverse~="false"] {
    flex-direction: column;
  }
  &[horizontal-align~="center"] {
    align-items: center;
  }
  &[horizontal-align~="right"] {
    align-items: flex-end;
  }

  &[vertical-distribute~="around"] {
    justify-content: space-around;
  }
  &[vertical-distribute~="between"] {
    justify-content: space-between;
  }
  &[vertical-distribute~="equal"] {
    > * {
      width: initial;
    }
  }
}

[layout~="masonry"] {
  flex-flow: column wrap;
  height: 20rem;

  &[vertical-align~="center"] {
    align-content: center;
  }

  &[column-count~="1"] {
    column-count: 1;
  }

  &[column-count~="2"] {
    column-count: 2;
  }

  &[column-count~="3"] {
    column-count: 3;
  }

  &[column-count~="4"] {
    column-count: 4;
  }

  &[column-count~="5"] {
    column-count: 5;
  }

  &[column-count~="6"] {
    column-count: 6;
  }

  &[column-count~="7"] {
    column-count: 7;
  }

  &[column-count~="8"] {
    column-count: 8;
  }

  &[column-count~="9"] {
    column-count: 9;
  }

  &[column-count~="10"] {
    column-count: 10;
  }

  &[column-count~="11"] {
    column-count: 11;
  }

  &[column-count~="12"] {
    column-count: 12;
  }
}
