.app {
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  padding: 0 16px;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;

  h1 {
  	font-size: 24px;
  	font-weight: 500;
  	line-height: 26.4px;
  }

  h2 {
  	font-size: 18px;
  	font-weight: 500;
  	line-height: 20.4px;
  }

  h3 {
  	font-size: 14px;
  	font-weight: 500;
  	line-height: 15.4px;
  }

  p {
  	font-size: 14px;
  	font-weight: 400;
  	line-height: 20px;
  }

  blockquote {
  	font-size: 21px;
  	font-weight: 400;
  	line-height: 30px;
  }

  pre {
  	font-size: 13px;
  	font-weight: 400;
  	line-height: 18.5667px;
  }

  a {
  	font-size: 16px;
  	font-weight: 400;
  	line-height: 28px;
  }

  button {
    font-size: 15px;
    padding: 7px 20px;
    margin: 0 20px;
    border: none;
    border-radius: 2px;
    background-color: #ddd;
  }

  button:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
