.app {
  display:        flex;
  flex-direction: column;

  min-height:     100%;

  font-family:    'Open Sans', sans-serif;
  font-style:     normal;
  font-variant:   normal;

  h1 {
    margin:      .67em;
    font-size:   2em;
    font-weight: 500;
    line-height: 1.2em;
  }

  h2 {
    margin:      .4em;
    font-size:   1.5em;
    font-weight: 500;
    line-height: 1.2em;
  }

  h3 {
    margin:      .83em;
    font-size:   1.17em;
    font-weight: 500;
    line-height: 1.2em;
  }

  h4 {
    margin:      1.12em;
    font-size:   1.12em;
    font-weight: 500;
    line-height: 1.2em;
  }

  p {
    font-size:   1.17em;
    font-weight: 400;
    line-height: 1.2em;
  }

  blockquote {
    font-size:   1.3em;
    font-weight: 400;
    line-height: 1.2em;
  }

  pre {
    font-size:   1.3em;
    font-weight: 400;
    line-height: 1.2em;
  }

  a {
    font-size:   1.12em;
    font-weight: 400;
    line-height: 1.4em;
  }

  button {
    background-color: #ddd;

    border:           0;
    border-radius:    2px;
    padding:          15px 25px;

    font-size:        15px;

    &:hover {
      background-color: #ccc;
      cursor: pointer;
    }
  }
}
