.app {
  display:        flex;
  flex-direction: column;
  flex:           1;
  height:         100%;

  font-family: 'Open Sans', sans-serif;
  font-style:   normal;
  font-variant: normal;

  h1 {
  	font-size:   2em;
  	font-weight: 500;
    line-height: 1.2em;
    margin:      .67em;
  }

  h2 {
  	font-size:   1.5em;
  	font-weight: 500;
    line-height: 1.2em;
    margin:      0.4em;
  }

  h3 {
  	font-size:   1.17em;
  	font-weight: 500;
    line-height: 1.2em;
    margin:      .83em;
  }

  h4 {
  	font-size:   1.12em;
  	font-weight: 500;
    line-height: 1.2em;
    margin:      1.12em;
  }

  p {
  	font-size:   1.17em;
  	font-weight: 400;
    line-height: 1.2em;
  }

  blockquote {
  	font-size:   1.3em;
  	font-weight: 400;
    line-height: 1.2em;
  }

  pre {
  	font-size:   1.3em;
  	font-weight: 400;
    line-height: 1.2em;
  }

  a {
  	font-size:   1.12em;
  	font-weight: 400;
    line-height: 1.4em;
  }

  button {
    font-size:        15px;
    padding:          15px 25px;
    border:           none;
    border-radius:    2px;
    background-color: #ddd;
  }

  button:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
