
@import '~styles/variables';

$red:  #d14b00;
$gray: rgb(195, 210, 223);
$blue: #559cc9;

.select-container {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
  padding:        8px;

  color:          darken($gray, 50%);

  label {
    padding:      .25rem 1.1rem;

    color:        darken($gray, 25%);
    font-size:    1rem;
    font-weight:  normal;

    pointer-events: none;
    // transition: 0.2s ease all;

    &.required {
      &::after {
        content:        ' *';
        color:          $red;
        vertical-align: super;
        font-size:      .65rem;
      }
    }
  }

  .select-panel {
    position:   relative;
    width:      100%;

    background: transparent;
    box-shadow: none;

    transition: border .3s ease;

    .select-field {
      display:        flex;
      flex-direction: row;
      border:         2px solid $gray;
    }

    &:focus-within > *,
    &:hover > * {
      border-color: $blue;
    }

    // &:focus-within,
    // &:hover {
    //   border-color: $blue;
    // }

    // &:focus ~ .select-label, &:valid ~ .select-label {
    //   font-size: 14px;
    //   background-color: #5264AE;
    // }
  }

  input {
    width:         100%;
    padding:       .8rem 1rem;

    border:        0;

    color:         darken($gray, 40%);
    box-shadow:    none;
    outline:       none;

    font-family:   Verdana, Geneva, sans-serif !important;
    font-weight:   lighter !important;
    font-size:     1rem;
    white-space:   normal;
    word-wrap:     break-word;
    text-align:    left;

    &[type='button'] {
      user-select: none;
      cursor:      pointer;
    }

    &::placeholder {
      color:      darken($gray, 25%);
      font-style: italic;
    }
  }

  .select-button {
    padding:        0 .5rem;

    border:         0;
    border-radius:  0;

    color:          $gray;
    background:     transparent;

    font-variant:   normal;
    font-weight:    normal;
    font-size:      1.3rem;
    line-height:    1;
    text-align:     center;
    vertical-align: middle;

    // transition:     transform 150ms ease, color .3s ease;

    // transform: translateY(50%);

    &.arrow {
      align-self: center;

      margin-right: 10px;

      width:  24px;
      height: 24px;

      // transform: scaleY(-1);
      background-image:  url('~images/Select/expand.arrow.animated.svg');
      background-repeat: no-repeat;

      animation-duration: 400ms;
      animation-timing-function: steps(24);
      animation-fill-mode: both;
      // animation-direction: alternate-reverse;
      // animation-play-state: paused;

      // &::after {
      //   content:     '⌃';
      //   line-height: .8;
      //   background-image: url('~images/Select/expand.arrow.animated.svg');
      //   animation-duration: 500ms;
      //   animation-timing-function: steps(24);
      //   width: 24px;
      //   height: 24px;
      //   background-repeat: no-repeat;
      // }

      &.open {
        color:     $blue;
        // transform: scaleY(1);
        animation-name: expand-arrow-animation;
      }
    }

    &.clear {
      &::after {
        content:        '×';
        line-height:    .8;
        vertical-align: top;
      }
    }

    &:hover {
      background-color: transparent;
      color:      $blue;
    }

    &:last-of-type {
      padding-right: 1rem;
    }
  }

  .select-dropdown {
    position:   absolute;
    width:      100%;
    max-height: 250px;

    border:     2px solid $gray;
    border-top: 0;

    z-index:    1;

    background: $white;
    overflow-y: auto;
  }

  .select-option {
    padding: .8rem 1rem;
    cursor:  pointer;
  }
}

@keyframes expand-arrow-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -576px 0;
  }
}
