
$red:  #d14b00;
$gray: rgb(195,210,223);
$blue: #559cc9;

.select-container {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;

  // width: 460px;
  max-width:      480px;
  padding:        8px;

  color:          darken($gray, 50%);

  label {
    padding:      0.25rem 1.1rem;

    color:        darken($gray, 25%);
    font-size:    1rem;
    font-weight:  normal;

    pointer-events: none;
    // transition: 0.2s ease all;

    &.required:after {
      content:        ' *';
      vertical-align: super;
      font-size:      0.65rem;
      color:          $red;
    }
  }

  .select-panel {
    position:   relative;
    width:      100%;

    box-shadow: none;
    background: transparent;

    transition: border .3s ease;

    .select-field {
      display:        flex;
      flex-direction: row;
      border:         2px solid $gray;
    }

    &:focus-within > *,
    &:hover > * {
      border-color: $blue;
    }

    // &:focus-within,
    // &:hover {
    //   border-color: $blue;
    // }

    // &:focus ~ .select-label, &:valid ~ .select-label {
    //   font-size: 14px;
    //   background-color: #5264AE;
    // }
  }

  input {
    width:         100%;
    padding:       0.8rem 1rem;

    border:        none;
    box-shadow:    none;
    outline:       none;

    font-family:   Verdana, Geneva, sans-serif !important;
    font-weight:   lighter !important;
    font-size:     1rem;
    white-space:   normal;
    word-wrap:     break-word;
    text-align:    left;

    color:         darken($gray, 40%);

    &[type="button"] {
      user-select: none;
      cursor:      pointer;
    }

    &::placeholder {
      color:      darken($gray, 25%);
      font-style: italic;
    }
  }

  .select-button {
    border:         none;
    border-radius:  0;
    padding:        0 0.5rem;

    color:          $gray;
    background:     transparent;

    font-variant:   normal;
    font-weight:    normal;
    font-size:      1.3rem;
    line-height:    1;
    text-align:     center;
    vertical-align: middle;

    transition:     transform 150ms ease, color .3s ease;

    &.arrow {
      transform: scaleY(-1);
    }

    &.arrow:after {
      content:     '⌃';
      line-height: 0.8;
    }

    &.arrow.open {
      color:     $blue;
      transform: scaleY(1);
    }

    &.clear:after {
      content:        '×';
      line-height:    0.8;
      vertical-align: top;
    }

    &:hover {
      color:      $blue;
      background: transparent;
    }

    &:last-of-type {
      padding-right: 1rem;
    }
  }

  .select-dropdown {
    position:   absolute;
    z-index:    1;
    width:      100%;

    background: #fff;

    border:     2px solid $gray;
    border-top: none;

    max-height: 250px;
    overflow-y: auto;
  }

  .select-option {
    padding: 0.8rem 1rem;
    cursor:  pointer;
  }
}
