
@import '../../../styles/variables.scss';

.modal-backdrop {
  position: fixed;
  width:  100vw;
  height: 100vh;
  background-color: $modal-backdrop-color;
}

.modal-container {
  width:  40vw;
  height: 50vh;
  min-width:  400px;
  min-height: 120px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 4px 0 $alpha-25;
  outline: 0;
}

.modal-button {
  //flex-grow: 1;
}
