
@import '../../../styles/variables.scss';

.modal-backdrop {
  width:  100vw;
  height: 100vh;
  background-color: $alpha-25;
}

.modal-container {
  width:  40vw;
  height: 50vh;
  min-width:  320px;
  min-height: 120px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 16px 38px 4px $alpha-15;
}
