
@import '../../../styles/variables.scss';

.modal-backdrop {
  position: fixed;
  width:  100vw;
  height: 100vh;
  background-color: $modal-backdrop-color;
}

.modal-container {
  width:  40vw;
  height: 50vh;
  min-width:  400px;
  min-height: 120px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 4px 0 $alpha-25;
  outline: 0;
}

.modal-button {
  height: 70px;
  margin: 4px;

  &.left {
    flex: 1 0 0;
    margin-right: 0;
    background-color: $green;
    border-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
  }

  &.right {
    flex: 1 0 0;
    margin-left: 0;
    background-color: $red;
    border-radius: 0 !important;
    border-bottom-right-radius: 6px  !important;
    border-top-right-radius: 6px  !important;
  }
}
